.menu {
           width: 100%;
           height: 700px;
           border:2px solid red;
       }

       .logos {
          display: inline-block;
          margin-left: 35%;

       }
       .breakfast{
           float: left;
           margin-left:10px;
           padding:30px;
       }
       .breakfast:hover{
           background-color: #f65a4cf5;
           color:#fff;
       }
       .breakfast p{
           margin-left: 15%;
       }
       .Lunch{
           float: left;
           padding:30px;
       }
       .Lunch:hover{
           background-color: #f65a4cf5;
           color:#fff;
       }
       .Lunch p{
           margin-left: 27%;
       }
       .dinner{
           float:right;
           padding:30px;
       }
       .dinner:hover{
           background-color: #f65a4cf5;
           color:#fff;
       }
       .dinner p{
           margin-left: 27%;
       }
