h1{
    text-align: center;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button{
    border:none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width:200px;
    margin-bottom: 5px;
    border-radius: 5px;
}
#increment-btn{
    background-color: darkred;
}
#save-btn{
    background-color: darkgreen;
}
p{
    font-size: bold;
    text-align: center;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}