
body{
    margin:0;
    text-align: center;
}
h1{
    
    width: 10%;
    margin:0 auto 0 auto;
}
.top-container{
    background-color:#E4F9F5 ;
    position: relative;
    padding-top:100px;
}
.middle-container{
    background-color:red ;
    text-align:center;
    padding:10px;
}
.bottom-container{
    background-color:blue;
    text-align:center;
    padding:10px;
}
.pro{
    text-decoration: underline;
}
.top-cloud{
    position: absolute;
    right:300px;
    top:50px;
}
.bottom-cloud{
    position:absolute;
    left:300px;
    bottom:300px;
}